# Ignore everything
*

# Allow files and directories
!package.json
!yarn.lock

!dist/**

# ignore files within allowed files and directories
*.test.js
.gitignore
.git
*.swp
*DS_Store

# yarn w/o pnp 
!.yarnrc.yml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions